<select id="{{ id }}">
    <option value="GBP">(GBP) Pound sterling</option>
    <option value="EUR">(EUR) Euro</option>
    <option value="JPY">(JPY) Japanese Yen</option>
    <option value="CAD">(CAD) Canadian Dollar</option>
    <option value="CHF">(CHF) Swiss Franc</option>
    <option value="USD">(USD) US Dollar</option>
</select>
