<select id="{{ id }}">
    <option value="gbp">(GBP) Pound sterling</option>
    <option value="eur">(EUR) Euro</option>
    <option value="jpy">(JPY) Japanese Yen</option>
    <option value="cad">(CAD) Canadian Dollar</option>
    <option value="chf">(CHF) Swiss Franc</option>
    <option value="usd">(USD) US Dollar</option>
</select>
